# Node modules
node_modules

# Environment variables
.env

# Firebase Admin SDK service account
src/config/*.json

# Firebase config and rules
.firebaserc
firebase.json
firestore.rules
firestore.indexes.json

# Optional: log files
*.log
